
body{
    padding: 0px;
    margin: 0px;
    /* background-color: black; */
}

#Nav{
    width: 10rem;
    background-color: black;
    color: gold;
    width: 100%;
    text-align: center;
padding: 0px;

}

#Logo{
    display: grid;
    grid-template-columns: 60% 25% 25%;
}

a{
    color: gold;
    padding: 30px;
    margin: 10px;
    text-decoration: none;
    
}

/* Girls perfume display */ 
#Perf{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}
.Girl-perf-card{
   
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

img{
    width: 100%;
    height: 200px;
}

#AddCartBtn{
    background-color: black;
    color: gold;
    text-align: center;
    margin: auto;
    width: 30%;

}


#ViewCart{
    background-color: black;
    color: gold;
    text-align: center;
    margin: auto;
    width: 30%;
    align-items: center;
    margin-left: 400px;
}