Body{
    background-color: black;
}
#Nav{
    width: 10rem;
    background-color: black;
    color: gold;
    width: 100%;
    text-align: center;
    padding-top: 0px;

}

#Logo{
    display: grid;
    grid-template-columns: 60% 25% 25%;
}

a{
    color: gold;
    padding: 30px;
    margin: 10px;
    
}

/* best seller page */ 
#BestSeller{
    display: grid;
    grid-template-columns: 32% 32% 32% ;
    gap: 20px;
    height:  300px;
    margin: 10px

}


#Best-Sel-Img{
    width: 100%;
    height: 200px;
}

#parent{
   
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
#ViewAll{
    justify-content: center;
    height: 50px;
    border: 2px solid grey;
    text-align: center;
    width: 20%;
   margin-left: 450px;
   margin-top: 20px;
   margin-bottom: 20px;
}
#ViewAll:hover{
    background-color: black;
    color: gold;
}


/* OFFER IMAGE */ 
#offer-img{
    width: 100%;
    height:   265px;
}
/*Fragrence */
#Farg-Head{
    text-align: center;
    margin: 30px;
}

#Frangrance{
    display: flex;
    padding: 20px;
}
#Girl{
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 200px;
    margin: 10px;
}
#Boy{
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 200px;
    margin: 10px;
}

/*category*/
#Cat-Haed{
    text-align: center;
}
#Category{
    display: flex;
    padding: 20px;
    justify-content: center;
    
}
#HimBtn{
   
    width: 200px;
    border-radius: 50%;
    height: 200px;
    margin: 20px;
    align-items: center;
    background-color: rgb(0, 234, 255);
    transition: all 0.5s ease-in-out;
    border: 1px solid rgb(0, 234, 255);
}
#HimBtn:hover{
     height: 250px;
     width: 250px;
     border-radius: 50% ;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
#HerBtn{
   
    width: 200px;
    border-radius: 50%;
    height: 200px;
    margin: 20px;
    align-items: center;
    background-color: pink;
    transition: all 0.5s ease-in-out;
    border: 1px solid pink;

}

#HerBtn:hover{
    height: 250px;
    width: 250px;
    border-radius: 50% ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

