
body{
    padding: 0px;
    margin: 0px;
    background-color: black;
}
/* nav bar */ 
#Nav{
    width: 10rem;
    background-color: black;
    color: gold;
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

#Logo{
    display: grid;
    grid-template-columns: 60% 25% 25%;
}

a{
    color: gold;
    padding: 30px;
    margin: 10px;
    text-decoration: none;
    
}

/*  LOGIN FORM */
#form{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
    margin: 3rem auto;
    color: black;
    padding: center;
    background-color:gold ;
    border-radius: 10px;
    
}
#form input{
    height: 20px;
    width: 60%;
    align-self: center;
}
select{
    height: 20px;
    color: gold;
    align-self: center;
    width: 60%;
}


#submit{
    background-color: black;
    border-radius: 5px;
    color: gold;
    border: 1px solid gold;
    width: 60%;
    height: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}